DEVELOPMENT_DATABASE_USERNAME=root
DEVELOPMENT_DATABASE_PASSWORD=password
DEVELOPMENT_DATABASE_NAME=technical_development
DEVELOPMENT_DATABASE_HOST=db

TEST_DATABASE_USERNAME=root
TEST_DATABASE_PASSWORD=password
TEST_DATABASE_NAME=technical_test
TEST_DATABASE_HOST=db
