<footer class="bg-dark text-white text-center py-3 fixed-bottom">
  <p>Developed by Adan Condori, I agree to the <a href="#" class="link-light">Terms of Service</a>, <a href="#" class="link-light">Privacy Policy</a> and <a href="#" class="link-light">Use of Cookies</a>.</p>
</footer>
