.custom-background-blue {
    background-color: #496989; /* Tu color personalizado */
}
.custom-background-green1 {
    background-color: #58A399; /* Tu color personalizado */
}
.custom-background-green2 {
    background-color: #A8CD9F; /* Tu color personalizado */
}
.custom-background-green3 {
    background-color: #E2F4C5; /* Tu color personalizado */
}
.custom-background-red {
    background-color: #FA7070; /* Tu color personalizado */
}

.custom-text-color {
    color: #654321; /* Tu color personalizado */
}
  